In [12]:
import pandas as pd # pandas is the data structure or data frame of python
from pandas import DataFrame,Series #series provide us indexing
s= Series([1,2,3,4]) 
s

0    1
1    2
2    3
3    4
dtype: int64

In [13]:
b = Series(['pakistan','america','india','china'])
b

0    pakistan
1     america
2       india
3       china
dtype: object

In [14]:
c = Series(b.values,index=['a','b','c','d']) #we imported values of "b" series 
c

a    pakistan
b     america
c       india
d       china
dtype: object

In [15]:
d = Series([1,2,3,4],c.index) # we improted values of "c" series
d

a    1
b    2
c    3
d    4
dtype: int64

In [16]:
a =Series (s.values,index = ["a","b","c","d"])
# put the number of elements equal to series numbers
#apni marzi se indexing kardi
a

a    1
b    2
c    3
d    4
dtype: int64

In [45]:
dates = pd.date_range('2018-07-01','2019-07-07',freq = 'W') # w for week,d for days,m for months
#automatic index generating
dates

DatetimeIndex(['2018-07-01', '2018-07-08', '2018-07-15', '2018-07-22',
               '2018-07-29', '2018-08-05', '2018-08-12', '2018-08-19',
               '2018-08-26', '2018-09-02', '2018-09-09', '2018-09-16',
               '2018-09-23', '2018-09-30', '2018-10-07', '2018-10-14',
               '2018-10-21', '2018-10-28', '2018-11-04', '2018-11-11',
               '2018-11-18', '2018-11-25', '2018-12-02', '2018-12-09',
               '2018-12-16', '2018-12-23', '2018-12-30', '2019-01-06',
               '2019-01-13', '2019-01-20', '2019-01-27', '2019-02-03',
               '2019-02-10', '2019-02-17', '2019-02-24', '2019-03-03',
               '2019-03-10', '2019-03-17', '2019-03-24', '2019-03-31',
               '2019-04-07', '2019-04-14', '2019-04-21', '2019-04-28',
               '2019-05-05', '2019-05-12', '2019-05-19', '2019-05-26',
               '2019-06-02', '2019-06-09', '2019-06-16', '2019-06-23',
               '2019-06-30', '2019-07-07'],
              dtype='datetime64[ns]', freq='W-SUN')

In [18]:
b = Series([80,82,85,87,81,90,200],index = dates)
b

2019-07-01     80
2019-07-02     82
2019-07-03     85
2019-07-04     87
2019-07-05     81
2019-07-06     90
2019-07-07    200
Freq: D, dtype: int64

data in series must be 1 dimensional

In [19]:
b.mean()

100.71428571428571

In [20]:
b2=Series([70,75,73,77,95,83,72],index = dates)
b2

2019-07-01    70
2019-07-02    75
2019-07-03    73
2019-07-04    77
2019-07-05    95
2019-07-06    83
2019-07-07    72
Freq: D, dtype: int64

In [48]:
b6=Series(70,index = dates)
b6

2018-07-01    70
2018-07-08    70
2018-07-15    70
2018-07-22    70
2018-07-29    70
2018-08-05    70
2018-08-12    70
2018-08-19    70
2018-08-26    70
2018-09-02    70
2018-09-09    70
2018-09-16    70
2018-09-23    70
2018-09-30    70
2018-10-07    70
2018-10-14    70
2018-10-21    70
2018-10-28    70
2018-11-04    70
2018-11-11    70
2018-11-18    70
2018-11-25    70
2018-12-02    70
2018-12-09    70
2018-12-16    70
2018-12-23    70
2018-12-30    70
2019-01-06    70
2019-01-13    70
2019-01-20    70
2019-01-27    70
2019-02-03    70
2019-02-10    70
2019-02-17    70
2019-02-24    70
2019-03-03    70
2019-03-10    70
2019-03-17    70
2019-03-24    70
2019-03-31    70
2019-04-07    70
2019-04-14    70
2019-04-21    70
2019-04-28    70
2019-05-05    70
2019-05-12    70
2019-05-19    70
2019-05-26    70
2019-06-02    70
2019-06-09    70
2019-06-16    70
2019-06-23    70
2019-06-30    70
2019-07-07    70
Freq: W-SUN, dtype: int64

In [21]:
b2['2019-07-04']

77

In [82]:
bb2 = DataFrame({'Midterm':b,'Finals':b2})
bb2

            Midterm  Finals
2019-07-01       80      70
2019-07-02       82      75
2019-07-03       85      73
2019-07-04       87      77
2019-07-05       81      95
2019-07-06       90      83
2019-07-07      200      72

In [83]:
bb2['Diffrence']=[21,23,53,64,23,21,37] #adding a column to data
bb2

            Midterm  Finals  Diffrence
2019-07-01       80      70         21
2019-07-02       82      75         23
2019-07-03       85      73         53
2019-07-04       87      77         64
2019-07-05       81      95         23
2019-07-06       90      83         21
2019-07-07      200      72         37

In [23]:
#data manupulations

In [46]:
bb2['Midterm']#üëç

2019-07-01     80
2019-07-02     82
2019-07-03     85
2019-07-04     87
2019-07-05     81
2019-07-06     90
2019-07-07    200
Freq: D, Name: Midterm, dtype: int64

In [25]:
diff = bb2.Midterm - bb2.Finals

In [26]:
diff

2019-07-01     10
2019-07-02      7
2019-07-03     12
2019-07-04     10
2019-07-05    -14
2019-07-06      7
2019-07-07    128
Freq: D, dtype: int64

In [27]:
mult = bb2.Midterm * bb2.Finals

In [28]:
mult

2019-07-01     5600
2019-07-02     6150
2019-07-03     6205
2019-07-04     6699
2019-07-05     7695
2019-07-06     7470
2019-07-07    14400
Freq: D, dtype: int64

In [29]:
new =  DataFrame({'Midterm':b,'Finals':b2,'diffrence':diff,'multiply':mult})
new

            Midterm  Finals  diffrence  multiply
2019-07-01       80      70         10      5600
2019-07-02       82      75          7      6150
2019-07-03       85      73         12      6205
2019-07-04       87      77         10      6699
2019-07-05       81      95        -14      7695
2019-07-06       90      83          7      7470
2019-07-07      200      72        128     14400

In [81]:
new['Midterm']

2019-07-01     80
2019-07-02     82
2019-07-03     85
2019-07-04     87
2019-07-05     81
2019-07-06     90
2019-07-07    200
Freq: D, Name: Midterm, dtype: int64

In [84]:
new.columns

Index(['Midterm', 'Finals', 'diffrence', 'multiply'], dtype='object')

In [30]:
new.diffrence['2019-07-02':'2019-07-04']

2019-07-02     7
2019-07-03    12
2019-07-04    10
Freq: D, Name: diffrence, dtype: int64

In [70]:
new.iloc[4]  # index ki bhi indexing hoti nhy iloc me wohi default index provide karty hain

Midterm        81
Finals         95
diffrence     -14
multiply     7695
Name: 2019-07-05 00:00:00, dtype: int64

In [71]:
new.loc['2019-07-05'] # index provide karna hota hy

Midterm        81
Finals         95
diffrence     -14
multiply     7695
Name: 2019-07-05 00:00:00, dtype: int64

In [72]:
new.iloc[[2,4,0]].Midterm

2019-07-03    85
2019-07-05    81
2019-07-01    80
Name: Midterm, dtype: int64

In [73]:
new.iloc[[2,4,0]].diffrence

2019-07-03    12
2019-07-05   -14
2019-07-01    10
Name: diffrence, dtype: int64

In [74]:
new.Midterm > 87

2019-07-01    False
2019-07-02    False
2019-07-03    False
2019-07-04    False
2019-07-05    False
2019-07-06     True
2019-07-07     True
Freq: D, Name: Midterm, dtype: bool

In [85]:
new[new.Midterm > 87]

            Midterm  Finals  diffrence  multiply
2019-07-06       90      83          7      7470
2019-07-07      200      72        128     14400

In [75]:
import numpy as np

In [76]:
np.random.seed(12345)#seed help us to maintain single randomly produced numbers
pd.Series(np.random.randn(5))

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
dtype: float64

In [77]:
pd.Series(np.linspace(0,9,25))#first two are limits and third number in numbers or lines

0     0.000
1     0.375
2     0.750
3     1.125
4     1.500
5     1.875
6     2.250
7     2.625
8     3.000
9     3.375
10    3.750
11    4.125
12    4.500
13    4.875
14    5.250
15    5.625
16    6.000
17    6.375
18    6.750
19    7.125
20    7.500
21    7.875
22    8.250
23    8.625
24    9.000
dtype: float64

In [78]:
s12 = pd.Series({'a':1,'b':2,'c':3,'d':4},index=['ax','bx','c','dx'])
s12

ax    NaN
bx    NaN
c     3.0
dx    NaN
dtype: float64

In [ ]:
obj = pd.Series([4,7,6,2,5,42,23 ])