In [2]:
import pandas as pd
from pandas import DataFrame,Series

# Pandas Assignment.

### 1. Create a data series with marks of students : 75, 80, 79, 60

In [3]:
result = Series([75,80,79,60],index = ["english","urdu","programming","math"])
result

english        75
urdu           80
programming    79
math           60
dtype: int64

### 2. Create a data frame with name of students, id and marks

In [9]:
data1 = Series([1,2,3,4,5],index = ['adil','ali','ahmed','mubashir','aman'])
data2 = Series([76,77,89,44,64],data1.index)
b = DataFrame({'id':data1,'marks':data2})
print(b)

#or

data2 ={'name':['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],'id':[1,2,3,4,5],'marks':[76,77,89,44,64]}
df = pd.DataFrame(data2, columns = ['name','id','marks'])
df

          id  marks
adil       1     76
ali        2     77
ahmed      3     89
mubashir   4     44
aman       5     64

    name  id  marks
0  Jason   1     76
1  Molly   2     77
2   Tina   3     89
3   Jake   4     44
4    Amy   5     64

### 3. Now read the file 'data.csv' in panda

In [12]:
data = pd.read_csv('data for panda exercise.csv')

### 4. What are the columns in the dataframe?

In [14]:
data.columns   #columns are keys to the series

Index(['Student_Code', 'Degree', 'Student_Name', 'Mid', 'Quiz_1', 'Quiz_2',
       'Best_of_Quizzes', 'Assignment_1', 'Assignment_2',
       'Best_of_assignments', 'Total_Sessional_(50)', 'Final_(50)',
       'Total_(100)', 'Grade'],
      dtype='object')

### 5. Sort the data based on Marks obtained. Fill all the 'na' cells with 0

In [ ]:
data.fillna("0", inplace = True)

### 6. Display the top 10 rows

In [ ]:
data.head(10)

### 7. Display the last 10 rows

In [ ]:
data.tail(10)

### 8. Display only the odd rows

In [ ]:
x for x in (len(data.index) if x%2!=0)

### 9. Display only those students who got failed in examination

In [ ]:
data[data.Grade=='F']

### 10. Find out the basic statistical info about data

### 11. How many students got A, B, C, F?

### 12. What are the mean scores for students who got A, B, C, F?